* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-size: 0.8rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 6rem;
}

.hide {
  display: none;
}

.raffle_info {
  margin-top: 3rem;
  text-align: center;
  padding: 0 10%;
}

.raffle_title {
  font-size: 1.5rem;
  font-family: 'Bebas Neue';
  margin: auto;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.raffle_id {
  font-family: Montserrat;
  font-weight: 500;
  color: #cccccc;
}

.raffle_desc {
  font-family: Montserrat;
}

.footer {
  background-color: #f6f6f6;
  padding: 3rem;
}

.social {
  text-align: center;
  color: black;
}

.icons li {
  color: black;
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  /* padding: 1rem; */
  margin: 1rem 1rem;
}

.fab {
  color: black;
}

.legal {
  text-align: center;
  margin: 0 auto;
}

.legal a {
  color: rgba(88, 88, 88, 0.5);
  text-decoration: none;
}

.h-90vh {
  height: 85vh;
}

.link {
  font-family: 'Montserrat';
  color: black;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 798px) {
  body {
    font-size: 1rem;
  }
  .raffle_title {
    font-size: 2.3rem;
  }
}
