.image_container {
  padding: 0.5rem;
}

.info_container {
  text-align: center;
}

.image {
  width: 100%;
}

.title {
  font-size: 1.2rem;
  font-family: 'Bebas Neue';
  margin: auto;
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue';
}

.release {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.8rem;
}

@media (min-width: 798px) {
  .title {
    font-size: 1.5rem;
  }
  .release {
    font-size: 0.9rem;
  }
}
